<h1>Eldest director</h1>

The eldest director in our dataset right now is <a href="/directors/<%=@eldest_director.id%>"><%=@eldest_director.name%></a>, born on <%=@eldest_director.dob.strftime("%B %-d, %Y")%>.
