<h1>Youngest director</h1>

The youngest director in our dataset right now is <a href="/directors/<%=@youngest_director.id%>"><%=@youngest_director.name%></a>, born on <%=@youngest_director.dob.strftime("%B %-d, %Y")%>.
